h3{
  text-align: center;
}

mat-card{
  background-color: lightgray;

}

mat-form-field{
  width: 95%;
  margin: auto;
}

mat-spinner {
  margin: auto;
}

button {
  background-color: gray;
  color: white;
}

input[type="file"] {
  visibility: hidden;
}



.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
